<h1><%= @user.username %></h1>

<img src="<%= @user.photo_url %>">


<h3>Score: ADD HERE</h3>
<h3>Time Played: <%= @user.time_played %> hours</h3>


<h3>Characters Played:</h3>
<% @characters.each do |character| %>
<%= character.name %>
<img src="<%= character.photo_url %>">
LEVEL REACHED AS THIS CHARACTER:  10%
<br>
<% end %>

<h3>Games Played:</h3>

<% @games.each do |game| %>

<%= game.name %>
<img src="<%= game.photo_url %>">
<% end %>

