<%= flash[:notice] %>

<%= @user.username %></h1>

<img src="<%= @user.photo_url %>">


<% if current_user != @user %>

  <% if !@user.blocked_users.include? current_user %>

    <% if !(current_user.friends.include? @user) %>
      <%= form_tag(user_follow_path(@user)) do%>
      <%= submit_tag ("Follow")  %>
      <% end %>
    <% else %>
      <%= form_tag(user_unfollow_path(@user)) do %>
      <%= submit_tag ("Unfollow") %>
      <% end %>
    <% end %>

    <% if !current_user.blocked_users.include? @user %>
      <%= form_tag(user_block_path(@user)) do %>
      <%= submit_tag ("Block") %>
      <% end %>
    <% else %>
      <%= form_tag(user_unblock_path(@user)) do%>
      <%= submit_tag ("Unblock") %>
      <% end %>
    <% end %>
  <% end %>

<% end %>



<h3>Score: <%= @user.score %>pts</h3>

<h3>Time Played: <%= @user.time_played %> hours</h3>

<h3>Characters Played:</h3>
<% @characters.each do |character| %>
<%= character.name %>
<br>
<img src="<%= character.photo_url %>">
<br>
<% if current_user == @user %>
    <!-- character_percentage_complete method from user model -->
    <%= @user.character_percent_complete(character) %>% Completed
<% end %>

<%= link_to "Resume Game", character_levels_path(character) %>
      <br>
      <br>
<% end %>
<h3>Games Played:</h3>

<% @games.each do |game| %>
<%= game.name %>
<img src="<%= game.photo_url %>">
<% end %>


<%= link_to "Edit this user", edit_user_path(@user) %>
<%= link_to "Delete this user", @user, method: :delete, data: {confirm: "Are you sure you wish to delete this user?\n All account information will be deleted and irretrievable."}  %>

<%= link_to "Back to all users", users_path %>


<h1>Comments</h1>

<%= form_tag(user_add_comment_path(@user)) do%>
<%= text_area_tag(:content) %>
<%= submit_tag ("Add Comment") %>
<% end %>

<% @user.comments.each do |comment| %>
  <% author=User.find(comment.author_id) %>
  <%= link_to author.username,user_path(author) %>
  @
  <%= comment.created_at.strftime("%m/%d-%H:%M") %>
  <br>
  "<%= comment.content %>"
  <br>
  <br>
  <% end %>
