<!DOCTYPE html>
<html>
<head>
  <title>RpoGameDb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- ALLOWS OPTION FOR USERS TO LOGIN, VIEW ACCOUNT, OR LOGOUT -->
  <!-- if there is no current user active, provide login option -->
  <% if session[:user_id]==nil %>
  <%= link_to "Login", '/login' %>
  <br>
  <%= link_to "Create New User", new_user_path %>
  <% else %>
  <br>
  <!-- if there is a current active user, provide option to view account logout or start game -->
  <%= link_to "Home", root_path %>
  <%= link_to "READY PLAYER ONE", new_game_path %>
  <%= link_to "Scoreboard", scoreboard_path %>
  <%= link_to "View Account", user_path(User.find(session[:user_id])) %>
  <%= link_to "Logout", '/logout' %>
  <% end %>
  <br>

  <%= yield %>

</body>
</html>
