<div id="login" class="fifteen columns offset-by-one">
  <div id="login_content" class="thirteen columns">
  <h1> Login </h1>


<p class="errors"><%= flash[:notice] %></p>
<%= form_tag sessions_path do %>

  <!-- As shown in sessions controller, user has option to login with email or username -->
  <%= label_tag :email_or_username %>
  <%= text_field_tag :email_or_username %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag :login %>

  <% end %>
  </div>
</div>
