<div id="mastermind_display">
  <h1><%= @game.name %></h1>

<div class="eight columns offset-by-three">
<div class="seven columns">
<p class="errors"><%= flash[:notice] %></p>
<% $circles.each do %>
<%= content_tag :div, class: "game_1_circle" do %>
<% end %>
<% end %>

<br>
<% if !$guesses.empty? %>
<% $guesses.each do |guess| %>
<%= content_tag :div, class: "game_1_guess_circle", style: "background-color: #{guess}" do %>
<% end %>
<% end %>
<% end %>
<br>


<% if !flash[:win_msg] %>
<%= flash[:color] %>
<br>
<%= flash[:position] %>


<% i=0 %>
<%= form_tag(mastermind_guess_path, method:'post') do %>

<% while i<$circles.length %>
<%= select_tag "guess#{i}", options_for_select($colors.each do |color| color end),{ :class => 'game_1_select' }  %>
<% i+=1 %>
<% end %>

<% i=0 %>
<% while i<$circles.length %>
<%= hidden_field_tag "color#{i}", $circles[i] %>
<% i+=1 %>
<% end %>
<br>
<%= submit_tag "Guess!" %>
<br>
<% end %>
<% end %>


<% if flash[:win_msg] %>
<img src="https://warosu.org/data/tg/img/0264/33/1375738347067.jpg">
<%= flash[:win_msg] %>
<%= link_to "Continue on!", level_end_path(@level) %>
<% end %>
<br>
</div>
</div>
</div>
