<h1><%= @game.name %></h1>

<% @circles.each do %>
<%= content_tag :div, class: "game_1_circle" do %>
<% end %>
<% end %>

<br>
<% if !$guesses.empty? %>
<%= $guesses.each do |guess| %>
<%= content_tag :div, class: "game_1_guess_circle", style: "background-color: #{guess}" do %>
<% end %>
<% end %>
<% end %>
<br>
<%= flash[:color] %>
<br>
<%= flash[:position] %>

<% i=0 %>
<%= form_tag(game_1_guess_path, method:'post') do %>
<% @circles.each do |circle| %>
<%= circle %>
<% while i<@circles.length %>
<%= select_tag("color#{i}",options_for_select($colors.each {|color| color})) %>
<% i+=1 %>
<% end %>
<% end %>
<br>
<%= submit_tag "Guess!" %>
<br>
<% end %>
<br>
