<%= @game.name %>
<br>
<div class="game_1_circle"></div>
<div class="game_1_circle"></div>
<%= form_tag(game_1_guess_path) do %>
<% @game_load.each do |circle| %>
<%= label_tag "color#{array_search(circle, @game_load)}" %>
<%= select_tag(:color, options_for_select([:red,:blue,:yellow]) ) %>
<% end %>
<%= submit_tag "Guess!" %>
<br>
<% end %>
<br>


<%= link_to "Success!", level_end_path(@level) %>

