<h1><%= @game.name %></h1>

<% if flash[:notice] %>
<img height='200px' src='http://www.blogforchoice.com/jafar%20gif.gif' alt="happy jafar">
<p class="errors"><%= flash[:notice] %></p>
<% end %>

<%= @circles %>

<% @circles.each do %>
<%= content_tag :div, class: "game_1_circle" do %>
<% end %>
<% end %>

<% i=0 %>
<%= form_tag(mastermind_guess_path, method:'post') do %>

<% while i<@circles.length %>
<%= select_tag "guess#{i}", options_for_select($colors.each {|color| color})  %>
<% i+=1 %>
<% end %>

<% i=0 %>
<% while i<@circles.length %>
<%= hidden_field_tag "color#{i}", @circles[i] %>
<% i+=1 %>
<% end %>
<br>
<%= submit_tag "Guess!" %>
<br>
<% end %>
<br>
