<%= @game.name %>
<br>
<div class="game_1_circle"></div>
<div class="game_1_circle"></div>
<%= form_tag(game_1_guess_path, method:'get') do %>
<% @game_load.each do |circle| %>
<%= label_tag :color %>
<%= select_tag("guess_#{@game_load.index(circle)}", options_for_select([:red,:blue,:yellow]) ) %>
<% end %>
<%= submit_tag "Guess!" %>
<br>
<% end %>
<br>


<%= link_to "Success!", level_end_path(@level) %>


<pre><%= File.read 'app/views/games/game_window.rb' %>
</pr
