<h1><%= @game.name %></h1>

<br>
<p class="errors"><%= flash[:notice] %></p>
<br>

<% @circles.each do %>
<%= content_tag :div, class: "game_1_circle" do %>
<% end %>
<% end %>

<% i=0 %>
<%= form_tag(game_1_guess_path, method:'post') do %>
<% @circles.each do |circle| %>
<%= circle %>
<% while i<@circles.length %>
<%= select_tag("color#{i}",options_for_select($colors.each {|color| color},"guess#{i}")) %>
<% i+=1 %>
<% end %>
<% end %>
<br>
<%= submit_tag "Guess!" %>
<br>
<% end %>
<br>
