<h1>Choose the character you wish to play as</h1>
<% @characters.each do |character| %>
<% enemy=@enemies.find(character.id) %>
<% character.description = "nothing" %>


<%= link_to character_levels_path(character) do %>
<div class='character_select'>
<img src="<%= character.photo_url %>" alt="<%= character.name %>'s photo">
<br>
Name: <%= character.name %>
<br>
Skill: <%= character.skill %>
<br>
Description: <%= character.description %>
<br>
<img src="<%= enemy.photo_url %>" alt="enemy.name"'s photo'>
<br>
Nemesis: <%= enemy.name %>
<br>
</div>
<% end %>
<% end %>
